<div
  class="checkout-product-card border border-black max-lg:w-[98%] w-[90%] flex"
>
  <div class="max-w-[35%]">
    <img
      class="h-full"
      src="https://jishkariani-shopping-cart.netlify.app/img/b174bd7c569847f8b42dadee014665f3_9366.webp"
      alt="product-image"
    />
  </div>
  <div class="product-details py-6 px-10 flex relative flex-col">
    <div class="title-price flex justify-between">
      <h3 class="uppercase !text-2xl">NMD_V3 shoes</h3>
      <span class="text-2xl">$320.00</span>
    </div>
    <p class="uppercase text-lg flex-1">
      innovative sneakers made in part with parley ocean plastic.
    </p>
    <div
      class="quantity-counter border py-3 px-4 border-black flex gap-3 w-fit items-center"
    >
      <mat-icon>remove</mat-icon>
      <span class="text-2xl">0</span>
      <mat-icon>add</mat-icon>
    </div>
    <div class="close-icon absolute top-2 right-2">
      <mat-icon>close</mat-icon>
    </div>
  </div>
</div>
