<section
  class="flex flex-col items-center justify-center gap-6 md:flex-row min-h-full pt-10 pb-24 md:items-start md:max-w-[99%] md:mx-auto"
>
  <div class="product-images w-[95%] max-w-[37.5rem] md:w-[50%]">
    <img
      src="https://jishkariani-shopping-cart.netlify.app/img/08cd0310cae446fd9a21adee0145b8d1_9366.webp"
      alt="product"
    />
  </div>
  <div
    class="product-details flex flex-col gap-3 w-[95%] max-w-[37.5rem] md:w-[50%] md:min-h-full"
  >
    <h2 class="uppercase !text-3xl !m-0">nmd_v3 shoes</h2>
    <h3 class="uppercase !italic !text-2xl !m-0">
      innovative sneakers made in part with parley ocean plastic.
    </h3>
    <p class="text-gray-500 text-lg">
      The pinnacle expression of tactical tech. The adidas NMD_V3 shoes aren't
      here to mess around. A strong vibe to match yours. Plush Boost cushioning
      means there's no stopping the good vibes — endless energy return keeps you
      fired up with comfort when days blur into the night. Playing with
      transparency, a see-through heel clip and the speckled TPU midsole round
      out the progressive exploration.
    </p>
    <span class="text-2xl font-bold">$160.00</span>
    <div class="button-counter flex flex-col md:flex-row md:gap-5 md:mt-6">
      <div
        class="counter border border-black w-full py-2 px-4 md:py-0 flex justify-around items-center md:w-fit md:gap-4"
      >
        <mat-icon>remove</mat-icon>
        <span>0</span>
        <mat-icon>add</mat-icon>
      </div>
      <button
        class="w-full bg-black text-white text-lg flex justify-between uppercase p-3 tracking-widest mt-5 md:mt-0 md:w-fit md:gap-14"
      >
        add to bag
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
    </div>
  </div>
</section>
