<section
  *ngIf="product$ | async as product"
  class="flex flex-col items-center justify-center gap-6 md:flex-row min-h-full pt-10 pb-24 md:items-start md:max-w-[99%] md:mx-auto"
>
  <div *ngIf="product.loading" class="h-full">
    <mat-spinner></mat-spinner>
  </div>
  <div
    *ngIf="!product.loading"
    class="product-images w-[95%] max-w-[37.5rem] md:w-[50%]"
  >
    <img src="{{ product.product?.image }}" alt="product" />
  </div>
  <div
    *ngIf="!product.loading"
    class="product-details flex flex-col gap-3 w-[95%] max-w-[37.5rem] md:w-[50%] md:min-h-full"
  >
    <h2 class="uppercase !text-3xl !m-0">{{ product.product?.title }}</h2>
    <h3 class="uppercase !italic !text-2xl !m-0">
      innovative sneakers made in part with parley ocean plastic.
    </h3>
    <p class="text-gray-500 text-lg">
      {{ product.product?.description }}
    </p>
    <span class="text-2xl font-bold">${{ product.product?.price }}</span>
    <div class="button-counter flex flex-col md:flex-row md:gap-5 md:mt-6">
      <div
        class="counter border border-black w-full py-2 px-4 md:py-0 flex justify-around items-center md:w-fit md:gap-4"
      >
        <div
          class="flex justify-center items-center cursor-pointer"
          (click)="decreaseQuantity()"
        >
          <mat-icon>remove</mat-icon>
        </div>
        <div>
          <span class="text-2xl">{{ quantity }}</span>
        </div>
        <div
          class="flex justify-center items-center cursor-pointer"
          (click)="increaseQuantity()"
        >
          <mat-icon>add</mat-icon>
        </div>
      </div>
      @if (product.product) {
      <button
        (click)="addToCart(product.product)"
        class="w-full bg-black text-white text-lg flex justify-between uppercase p-3 tracking-widest mt-5 md:mt-0 md:w-fit md:gap-14"
      >
        add to bag
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
      }
    </div>
  </div>
</section>
