<div
  class="product-item w-full border border-transparent cursor-pointer transition hover:border-black"
>
  <div class="w-fit">
    <img
      src="https://jishkariani-shopping-cart.netlify.app/img/b174bd7c569847f8b42dadee014665f3_9366.webp"
      alt="shoes"
    />
    <div class="mt-[-20px] ml-[5px]">
      <span class="current-price bg-white p-1">$160</span>
    </div>
  </div>
  <div class="product-info p-2 flex-col justify-center align-center">
    <h5 class="product-name !m-0 !text-sm">NMD_V3 SHOES</h5>
    <p class="opacity-80 !my-1 text-sm">Originals</p>
  </div>
</div>
