<div class="product-item group w-[325px] box-content cursor-pointer transition hover:border border-black ">
  <div class="product-photo">
    <img src="https://jishkariani-shopping-cart.netlify.app/img/b174bd7c569847f8b42dadee014665f3_9366.webp" alt="shoes" />
    <div class="product-price mt-[-20px] ml-[5px] group-hover:mt-[-30px]"><span class="current-price bg-white p-1">$160</span></div>
  </div>
  <div class="product-info p-2 flex-col justify-center align-center">
    <h5 class="product-name !m-0">NMD_V3 SHOES</h5>
    <p class="text-xs opacity-80 !my-1">Orginals</p>
    <span class="text-xs">best seller</span>
  </div>
</div>
